* { 
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    background-image: linear-gradient(to right, rgb(94, 95, 94, 0.1), rgb(94, 95, 94, 0.9));
}

h1, h2 {
    text-align: center;
}

.searchContainer {
    text-align: center;
    padding: 5px;
    margin: 10px;
}

/* styling for home page coin rankings */

.coinRankContainer ul {
    list-style: none;
    margin: 0 auto;
    padding: 10px;
}

.coinRankContainer li {
    padding: 2px;
}

.coinLogo {
    height: 70px;
    width: 70px;
    padding: 10px;
    margin: 10px auto;
    display: block;
}

.coinTile {
    border: 1px solid black;
    border-radius: 5px;
    width: 275px;
    margin: 0 auto;
}

.rankNumber {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin: 10px;
}

.coinLink {
    color: blue;
    padding: 15px;
    margin: 15px 0px;
}

.coinLink:hover,
.coinLink:focus {
    text-decoration: underline;
    cursor: pointer;    
}

.Row1 {
    text-align: center;
}

.Row2 {
    display: inline-block;
    padding: 15px;
}

.bottom-row-container {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
    font-size: 14px;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgba(24, 24, 24, 0.1), rgba(24, 24, 24, 0.9));
}

.Column2 {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

@media (min-width: 500px) {
    .coinRankContainer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .coinTile {
        width: 400px;
    }
    .Row1 {
        display: inline-block;
    }
    .top-row-container {
        width: 75%;
    }
    .coinLogo {
        float: left;
    }

    .bottom-row-container {
        font-size: 16px;
    }
}



/* styling for news articles */

.articleImage {
    height: 150px;
    width: 250px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.coinNews ul {
    list-style: none;
    padding: 0px 25px 0px 25px;
}

.newsTile {
    padding: 10px;
}

.newsTitle {
    font-size: 18px;
    padding: 5px;
    max-width: 600px;
}

.articleDescription {
    padding: 5px;
    max-width: 700px;
}

@media (min-width: 900px) {
    .row {
        display: inline-block;
        vertical-align: top;
    }
}