* { 
    box-sizing: border-box;
    font-family: din-alternate, sans-serif;
    font-style: normal;
    font-weight: 400;
    /* my blue #02579b */
    /* my gray #939393 */
    /* my black #111(111) */
    /* my white #F7F7F7 */
}

/* ----- header styling ------ */

header {
    height: 160px;
}

.headerCryptoPic {
    width: 100%;
    height: 160px;
}

.headerMainPic {
    visibility: hidden;
    width: 100%;
}

body {
    background-image: linear-gradient(#939393, #111);
    margin: 0;
}

h1 {
    color: #939393;
    background-image: linear-gradient(to bottom, #111, #02579b);
    width: auto;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    margin: 0;
}

.coinScroll {
    margin: 10px auto;
}


/* ----- Search Bar / Input Styling / DOM Links ----- */

.searchBar {
    position: relative;
    margin: 0 auto;
    width: 250px;
}

.searchBar input[type=image]  {
    position: absolute;
    top: 20%;
    right: 5%;
}

input[type=text] {
    background: #f7f7f7;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    height: 35px;
    border: 3px solid #02579b;
    padding: 15px;
}

input[type=text]::-webkit-input-placeholder {
    color: #939393;
    font-size: 12px;
    font-weight: 200;
}

input[type=image] {
    height: 20px;
    width: 20px;
}


h2 {
    text-align: center;
    font-size: 22px;
    color: #02579b;
    font-weight: 700;
    margin-top: 75px;
    text-shadow: 0.3px 0.3px #111;
}

.searchContainer {
    padding: 5px;
    margin: 25px;
}

.homeButton {
    float: right;
    margin: 10px;
    color: #f7f7f7;
    font-weight: 600;
}

/* ----- Coin Tile Styling ----- */

.coinRankContainer ul {
    list-style: none;
    margin: 0 auto;
    padding: 10px;
}

.coinRankContainer li {
    padding: 2px;
}

.coinLogo {
    height: 70px;
    width: 70px;
    padding: 10px;
    margin: 10px auto;
    display: block;
}

.coinTile {
    background-color: #f7f7f7;
    border: 2px solid #02579b;
    border-radius: 20px;
    width: 275px;
    margin: 0 auto;
    margin-bottom: 30px;
    /* background-image: linear-gradient(to top, #02579b, #939393, transparent); */
}

.coinLink {
    color: #02579b;
    padding: 15px;
    margin: 15px 0px;
    font-weight: 600;
    font-size: 24px;
}

.coinLink:hover,
.coinLink:focus {
    text-decoration: underline;
    cursor: pointer;  
    color: #939393;  
}

.coinPrice {
    font-size: 18px;
    font-weight: 600;
    color: #111111;
    margin: 10px;
}

.coinData {
    font-size: 12px;
    font-weight: 500;
    margin: 10px;
    vertical-align: bottom;
}

h5 {
    font-weight: 700;
    font-size: 12px;
    margin: 10px;
}

.Row1 {
    text-align: center;
}

.Row2 {
    display: inline-block;
}

.bottom-row-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid #111111;
    font-size: 14px;
    text-align: center;
    color: #111111;
}

.Column1, .Column2, .Column3 {
    flex-basis: 33.3%;
    height: auto;
}

.Column2 {
    border-right: 2px solid #111111;
    border-left: 2px solid #111111;
}



/* ----- News Articles Styling ----- */

.articleImage {
    height: 150px;
    width: 250px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.coinNews ul {
    list-style: none;
    padding: 0px 25px 0px 25px;
}

.newsTile {
    padding: 10px;
}

.newsTitle {
    font-size: 20px;
    padding: 5px;
    max-width: 600px;
}

.newsTitle a {
    color: #02579b;

}

.newsTitle a:hover,
.newsTitle:focus {
    text-decoration: underline;
    cursor: pointer;  
    color: #111111;  
}

.articleDescription {
    padding: 5px;
    max-width: 700px;
    color: #f7f7f7;
}

.noCoinMessage {
    color: #f7f7f7;
    font-weight: 600;
    text-align: center;
}

/* ----- Footer Styling ----- */

.footerTransition {
    background-color: #939393;
    height: 25px;
    width: 100%;
}

footer {
    background-color: #02579b;
}

footer ul {
    list-style: none;
    color: #f7f7f7;
    margin: 0;
    font-weight: bolder;
    padding: 25px 100px;
}

footer li {
    font-weight: 400;
    font-size: 13px;
    padding: 10px 5px 5px 8px;
}

footer a {
    text-decoration: none;
    color: #f7f7f7; 
    padding-left: 5px;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
    cursor: pointer;  
    color: #939393;  
}

.icon {
    height: 15px;
    width: 15px;
}

.emailLogo {
    height: 15px;
    width: 15px;
}

/* ----- Media Breaks ----- */

@media (min-width: 500px) {
    .coinRankContainer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .coinTile {
        width: 400px;
        height: 250px;
        margin: 12px;
    }
    .top-row-container {
        height: 150px;
        width: 75%;
    }
    .bottom-row-container {
        height: 100px;
    }
    .Row1 {
        display: inline-block;
    }
    .coinLogo {
        float: left;
    }
    .coinData {
        font-size: 14px;
        font-weight: 500;
    }
    h5 {
        font-weight: 700;
        font-size: 16px;
    }
}


@media (min-width: 750px) {
    h1 {
        position: absolute;
        top: 15px;
        color: #f7f7f7;
        text-align: left;
        margin-left: 25px;
        background-image: none;
        z-index: 6;
    }
    .headerMainPic {
        visibility: visible; 
        width: 100%;
        max-width: 1200px;
        height: 100px;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 4;
    }
    header {
        height: 100px;
        background-color: black;
        z-index: 2;
    }
    .headerCryptoPic {
        visibility: hidden;
    }
}

@media (min-width: 900px) {
    .row {
        display: inline-block;
        vertical-align: top;
    }
}

@media (min-width: 1200px) {
    .headerMainPic {
        width: 50%;
        left: 48%;
        border-bottom-left-radius: 60px;
        border-top-left-radius: 60px;
    }
}
